/**
 * Variables Couleurs
 */
/**
 * Variable taille
 */
/**
 * STYLE
 */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
  font-size: 16px;
  font-family: 'Arvo', serif;
  height: 100%;
  background-color: whitesmoke; }

header, section, nav, footer {
  width: 1000px;
  margin: 0 auto; }

/* HEADER */
header {
  background-color: #ff530d;
  color: #FFFFFF;
  width: 100%;
  height: 100px;
  text-align: center; }
  header h1 {
    margin: 0 auto;
    padding-top: 20px;
    height: 100%;
    font-size: 3em;
    width: 1000px;
    background-image: url("/img/Poussifeu-head-bg.png");
    background-repeat: no-repeat;
    background-position: left bottom; }

/* MENU & Boutons */
nav.menu {
  width: 100%;
  font-size: 1em;
  height: 30px;
  background-color: #293540; }
  nav.menu a {
    background-color: transparent;
    padding: 5px 30px;
    min-width: 200px; }
  nav.menu a:hover {
    color: #FFFFFF;
    background-color: #14405f;
    background: #2d3a40; }

nav, span.bouton, div.bouton {
  position: relative;
  width: 100%;
  min-height: 32px;
  background-color: transparent; }
  nav a, span.bouton a, div.bouton a {
    background-color: #14405f;
    text-decoration: none;
    color: #FFFFFF;
    padding: 7px 10px;
    min-width: 120px;
    text-align: center;
    font-weight: bold;
    height: 100%;
    display: block;
    float: left;
    margin-left: 1px;
    margin-right: 1px; }
  nav a:hover, span.bouton a:hover, div.bouton a:hover {
    color: #FFFFFF;
    background-color: #14405f;
    background: #1c3166; }

nav.center div {
  margin: 0 auto;
  width: 1000px;
  height: 100%; }

div.bouton {
  min-width: 200px; }

/* SECTION */
section {
  font-size: 0.80em;
  background-color: #e1ebf5;
  width: 1000px;
  padding: 20px 20px;
  text-align: left;
  padding-bottom: 220px;
  background-image: url("/img/salameche-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom; }
  section nav {
    width: auto;
    margin: 20px 0px;
    background: #293540; }
  section h1 {
    color: #14405f;
    font-size: 2em;
    border-bottom: 2px solid #ff530d; }
  section article, section div {
    margin: 20px 0px;
    background-color: white; }
  section nav:first-child, section article:first-child, section div:first-child {
    margin-top: 0px; }
  section nav:last-child, section article:last-child, section div:last-child {
    margin-bottom: 0px; }

/* NEWS */
.news {
  padding: 25px; }
  .news h1 {
    font-size: 1.8em;
    padding: 5px 0px 5px 0px;
    margin-bottom: 10px;
    border-bottom: 0px;
    border-bottom: 2px solid white; }
  .news span.date b, .news span.auteur b {
    width: 80px;
    display: block;
    float: left; }
  .news div {
    padding: 0px;
    margin: 0px; }
  .news .content {
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 1px solid #ff530d; }

.news:hover h1 {
  border-bottom: 2px solid #ff530d; }

/* Image */
.images {
  padding: 25px;
  width: 100%;
  min-height: 500px; }
  .images img {
    max-width: 100%;
    max-height: 500px; }

/* FOOTER */
footer {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  text-align: right;
  background: #ff530d;
  color: #FFFFFF; }

/* Autre class */
nav.right, div.right {
  text-align: right; }
  nav.right a, div.right a {
    float: right; }

/* MEDIA */
@media screen and (max-width: 1020px) {
  body {
    width: 100%; }

  header {
    height: 100px; }
    header h1 {
      font-size: 3em;
      padding: 20px;
      width: 100%; }

  nav.menu {
    width: 100%;
    font-size: 1em;
    height: 30px; }
    nav.menu a {
      padding: 5px 15px; }

  section {
    width: 100%; }

  nav.center div {
    width: 100%; } }

/*# sourceMappingURL=defaut.css.map */
